/* login.css */
/* Table Styling */
.table {
    width: 100%;
    background-color: gray;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  /* Table Head Styling */
  .table th {
    border: 1px solid #ccc;
    padding: 2rem;
    text-align: left;
  }
  
  /* Table Row Styling */
  .table tr {
    border-bottom: 1px solid #eee;
  }
  
  /* Table Cell Styling */
  .table td {
    border: 1px solid #eee;
    padding: 1rem; /* Adjusted padding for cells */
  }
  
  /* Hover effect on rows */
  .table tr:hover {
    background-color: #f5f5f5;
  }
  
  .slanted-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to bottom right, transparent 50%, #fff 50%);
    transform: skewX(-15deg);
    transform-origin: 100% 0;
    z-index: 0; /* Lower z-index to place it behind other elements */
  }
  
  .bg-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%; /* Make sure it takes the full height */
  }
  
  .tag-container {
    display: inline-flex;
    color: white;
    align-items: center;
    padding: 0.5rem 1rem; /* Adjusted padding for tag container */
    margin: 0.25rem;
    background-color: #645cfc;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tag-container span {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .social-icons-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align icons to the bottom */
    height: 100%; /* Take full height */
    margin-bottom: 120px; /* Add margin at the bottom */
  }
  
  .social-icons-container a {
    margin: 0 20px; /* Adjust margin between icons as needed */
    color: #fff;
    font-size: 40px; /* Increase icon size as needed */
  }
  